<h1>Dracula's blog</h1>

<ul>
  {{#each}}
  <li>{{#link-to 'post' this.id}}{{title}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#link-to 'new-post' className="btn btn-primary"}}New scary post{{/link-to}}

<p><a href='#' {{action 'sortByTitle'}}>Sort by title</a></p>
